
h1 {
  text-align:center;
  color:blue;
  font-size:2.2em;
}


/* Global */
.container{
    width: 80%;
    margin:5em 0 0 7em;
    overflow:hidden;

}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

/* JQuery Additions */
.newInputs {
    margin-top:0.5em;
    width: 60%;
    text-align:center;
    margin-left: 0.8em;
    margin-right:0.8em;

}

.newInputs .text-field {
    margin:0.5em 9em 0.5em 0;
    display: inline-block;


}
/*-----------------------------------*/
#item-weeks {

    float:left;
    width:37%;
}

.text-field {

    float:left;
    width:25%;

}

#add-button {
    float:left;
    margin-top:1.8em
}




